{% extends "base.html" %}
{% block body %}
			<form action='/results' method='POST' >
				<input type="text" name="input1" required="required"/><br/>
				<input type="text" name="input2" required="required"/><br/>
				<input type="text" name="input3" required="required"/><br/>
				<input type="text" name="input4" required="required"/><br/>
				<input type="text" name="input5" required="required"/><br/>
				<input type="text" name="input6" required="required"/><br/>
				<input type="text" name="input7" required="required"/><br/>
				<input type="submit"/>
			</form>
			
{% endblock %}